
            <!-- Main -->
                <div id="main" class="wrapper style1">
                    <div class="container">
                        <br>
                        <header class="major">
                        <h2>Our Mission</h2>
                        <p>To inspire and equip the next generation of leading female techprenuers from Africa.</p>
                        </header>

                        <!-- Content -->
                            <section id="content">
                                <a href="#" class="image fit"><img src="./images/cd.jpg" alt="" /></a>

                                <h3>About Us</h3>
                                <p>The Codesses brings budding female techpreneurs from different parts of the country to meet their counterparts and participate in a series of trainings culminating in a hackathon.</p>

                                <header class="major">
                                    <h2>How it works</h2>
                                </header>

                                <h3>The Initial Project</h3>
                                <p>Participants spend the first two weeks engaging in asynchronous contents and self-study. They are encouraged to study and practise in groups within their locality. To ensure engagement, participants are ensured to complete a task at the end of the second week - building a personal portfolio website using HTML, CSS and Javascript. Applications would be hosted on Github.</p>

                                <h3>Team Building</h3>
                                <p>After the initial project, participants will be put in teams with Queen Codesses (mentors) who will work with them to build an app that will serve as their entry to the final hackathon. Queen Codesses are females who have excellent coding skills - many are already in the industry.</p>

                                <h3>The Hackathon</h3>
                                <p>Taking place in the city of Lagos, Nigeria, the final hackathon will have the Codesses exercising their acquired coding power in the creation of a targeted app.</p>
                            </section>

                    </div>
                </div>
