        <!-- One -->
            <section id="one" class="spotlight style1 bottom" >
                <span class="image fit main"><img ng-src="images/cd.jpg" /> </span>
                   <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="12u center 12u$(medium)">
                                    <header>
                                        <h2>Our Mission &amp; Objectives</h2>
                                        <p>To inspire and equip the next generation of leading female techprenuers from Africa.</p>
                                    </header>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#two" class="goto-prev scrolly">Prev</a> -->
            </section>