<!-- Login -->
        <div class="wrap">
            <section id="banner">
                <div class="content">
                  <center>
                    <div data-ng-hide="usertype">
                      <h2 class="special"><code>Register/Login</code></h2>
                      <br>
                      <button  ng-click="oauthLogin('facebook')" class="button facebook">Facebook</button>
                      <br>
                      <br>
                      <button  ng-click="oauthLogin('google')" class="button google">Google+</button>
                      <br>
                      <br>
                      <button  ng-click="oauthLogin('twitter')" class="button twitter">Twitter</button>
                    </div>

                    <div data-ng-show="usertype">
                      <h2 class="special"><code>Register/Login</code></h2>
                      <br>
                      <button  ng-click="oauthLogin('github')" class="button github">Github</button>
                      <br>
                      <br>
                      <span><a href="#/mentors">Mentors</a> can only signup using their <code>Github</code> user account.</span>
                    </div>
                    <p class="error">{{err}}</p>
                  </center>
                </div>
            </section>
        </div>
