<!-- Banner -->
        <div class="wrap">
            <section id="banner">
                <div class="content">
                    <header>
                        <h2>The Codesses <code>Hackathon</code></h2>
                        <p>aims at encouraging female techprenuers to be more <br />
                        involved in computer programming and to work in teams. <br>
                        <br>
                        <a href="#/login" class="button">Participate</a>  </p>
                    </header>
                    <span class="image"><img src="images/ic.jpg" /></span>
                </div>
            </section>
        </div>
